@font-face {
    font-family: 'lexend';
    src: url('../fonts/LexendZetta-Regular.ttf');
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-ExtraLight.ttf');
}

::-webkit-scrollbar-thumb {
    background-color: #600000;
    border-radius: 10px;
}

::-webkit-scrollbar {
    background-color: #000;
    width: 10px;
    height: 1px;
}