.f1-pagamento{
    display: flex;
    flex-direction: row;


    .f1-pagamento-dinheiro{
        background-color: #0f0f0f;
        margin-top: -1.176em;

        .f1-tit-txt{
            font-family: 'raleway';
            color: #600000;
            padding-top: 5em;
            margin-left: 5em ;
        }

        .f1-div-ingressos{
            font-family: 'raleway';
            color: #ffffff;
            margin-left: 5em;

            .tit{
                margin-top: 2.5em;
                color: #600000;
            }
            

            .f1-ingressos{
                display: flex;
                flex-direction: column;

                .f1-ingint{
                    display: flex;
                    flex-direction: row;

                    .f1-ingint-slc{
                        height: 2em;
                        background-color: #0f0f0f;
                        color: #fff;
                        border: none;
                        margin-left: 1em;
                        margin-top: 0.9em;
                        width: 6em;
                        border: 1px solid #fff;

                    }
                }

                .f1-ingmeia{
                    display: flex;
                    flex-direction: row;

                    .f1-ingmeia-slc{
                        height: 2em;
                        background-color: #0f0f0f;
                        color: #fff;
                        border: none;
                        margin-left: 1.5em;
                        margin-top: 0.9em;
                        border: 1px solid #fff;

                        width: 6em;
                    }
                }
            }

            .f1-combos{
                .f1-combos-tit{
                    color: #600000;
                }

                .f1-combos-div{
                    display: flex;
                    flex-direction: row;

                    .f1-combo-natal{
                        height: 2em;
                        background-color: #0f0f0f;
                        color: #fff;
                        border: none;
                        margin-left: 1em;
                        margin-top: 0.9em;
                        width: 6em;

                        border: 1px solid #fff;     
                    }
                }

                .f1-combo-medio{
                    display: flex;
                    flex-direction: row;

                    .f1-combo-mediobt{
                        height: 2em;
                        background-color: #0f0f0f;
                        color: #fff;
                        border: none;
                        margin-left: 5.5em;
                        margin-top: 0.9em;
                        width: 6em;
                        border: 1px solid #fff;

                    }
                }
            }

            .f1-indiv{
                display: flex;
                flex-direction: row;
                .f1-indiv-div{

                    .tit-2{
                        color: #600000;
                    }
                    
                    .f1-picpeq{
                        display: flex;
                        flex-direction: row;
                        .f1-picpeq-bt{
                            height: 2em;
                            background-color: #0f0f0f;
                            color: #fff;
                            border: none;
                            margin-left: 1em;
                            margin-top: 1.25em;
                            width: 6em;
                            border: 1px solid #fff;
                        }
                    }

                    .f1-picmed{
                        display: flex;
                        flex-direction: row;

                        .f1-picmed-bt{
                            height: 2em;
                            background-color: #0f0f0f;
                            color: #fff;
                            border: none;
                            margin-left: 2.6em;
                            margin-top: 1.25em;
                            border: 1px solid #fff;
                        }
                    }

                    .f1-picgra{
                        display: flex;
                        flex-direction: row;

                        .f1-picgra-bt{
                            height: 2em;
                            background-color: #0f0f0f;
                            color: #fff;
                            border: none;
                            margin-left: 2.1em;
                            margin-top: 1.25em;
                            border: 1px solid #fff;
                        }
                    }
                }

                .f1-refri{
                    margin-left: 3em;
                    margin-top: 5.9em;
                    .f1-refripeq{
                        display: flex;
                        flex-direction: row;

                        .f1-refripeq-bt{
                            height: 2em;
                            background-color: #0f0f0f;
                            color: #fff;
                            border: none;
                            margin-left: 2em;
                            margin-top: 1.25em;
                            border: 1px solid #fff;
                        }
                    }

                    .f1-refrimed{
                        display: flex;
                        flex-direction: row;

                        .f1-refrimed-bt{
                            height: 2em;
                            background-color: #0f0f0f;
                            color: #fff;
                            border: none;
                            margin-left: 4em;
                            border: 1px solid #fff;
                            margin-top: 1.25em;
                        }
                    }

                    .f1-refrigra{
                        display: flex;
                        flex-direction: row;
                        .f1-refrigra-bt{
                            height: 2em;
                            background-color: #0f0f0f;
                            color: #fff;
                            border: none;
                            margin-left: 3.5em;
                            margin-top: 1.25em;
                            border: 1px solid #fff;
                        }
                    }
                }
            }
        }
    }

    .f1-item{
        background-color: #0f0f0f;
        padding-top: 5em;
        padding-left: 25em;
        padding-top: 10em;
        width: 100%;
        color: #fff;
        .prod-img{
            height: 20em;
            width: 17.5em;
            border-radius: 1em;
        }

        .div-bt{
            .bt{
                color: #fff;
                border: none;
                background-color: rgba(255, 255, 255, 0);
                font-family: 'inter';
                cursor: pointer;
                border-radius: 1em;
                border: 1px solid #fff;
                padding: 0.5em 1em;
                -webkit-transition: all 0.2s ease;   
            }
    
            .bt:hover{
                transition: 500ms;
                background-color: white;
                color: #000000;
            }
        }
    }
}